@(attendee: services.models.Attendee, form: Form[AttendeeCtrl.AttendeeCreateJourney])

@import views.form.HorizontalForm._

@layout {

        <h1>Details Personne</h1>
        <div>

            <h2>Nom: @attendee.nom</h2>
            <div>
                <input type="text" name="nouveau_nom" required>
                <button type="submit"  >Modifier le nom</button>
            </div></br>
            <div>id: @attendee.id </div>
            <div>Destination : @attendee.destination </div>
            <div>localisation : @attendee.localisation </div>
            @if(attendee.voiture != null){
                <div>
                    <p>Voiture : @attendee.voiture.series </p>
                    <p>Nb Place: @attendee.voiture.nbPlaceTotal </p>
                </div>

                <!-- zone formulaire pour crée un evenement -->
                <div id="zoneCreateEv" class="decaler_droite">
                    @helper.form(action = routes.AttendeeCtrl.create_evenement()) {

                    @if(form.hasGlobalErrors) {
                    <div class="form-group has-error">
                        <div class="controls">
                            @for(error <- form.globalErrors) {
                            <div class="help-block">@error.message</div>
                            }
                        </div>
                    </div>
                    }
                    <input value=@attendee.id name="id" type="hidden"  >

                    @helper.inputText(form("depart"), 'placeholder -> "depart _ evenement", '_label -> "depart", 'class -> "form-control")

                    @helper.inputText(form("destination"), 'placeholder -> "destination _ evenement", '_label -> "destination", 'class -> "form-control")
                    <!-- <input value="@attendee" name="attendee"> -->
                    <button class="btn">Create Evenement</button>
                    }
                </div>

            }




        </div>




}